@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600");



@keyframes pop-word {
  to {
    transform: rotateX(0);
    opacity: 1;
  }
}



.universe{
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 10%;
}
h1 {
  color: white;
  font-family: "Playfair Display", Vidaloka, serif;
  font-size: 8rem;
  margin-top: 10px;
 
  line-height: 0.85;
  perspective: 500px;
  
}

.word {
  display: block;
  color: gold;
  
  animation:  pop-word 1.5s forwards;
  animation-timing-function: cubic-bezier(0.14, 1.23, 0.33, 1.16);
  opacity: 0;
    animation-delay: 3s;
  transform: rotateX(120deg);
  transform-origin: 50% 100%;
}







.presentacion {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: black;
  outline: 2px solid var(--estructura);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  position: absolute;
  top: 0%;
  transition: top 1s ease-in;
}

ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

li {
  list-style: none;
  opacity: 0;
    transition: transform 3s ease, opacity 1s ease;
}
.visible {
    transform: translateY(0);
    opacity: 1;
  }
label {
  position: relative;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 80px;
  width: 80px;
  z-index:100;
}

div {
  position: relative;
  height: 80px;
  width: 80px;
  background: black;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight:800;
  cursor: pointer;
  margin: 0 4px;
  
  box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
    4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -1px -1px 4px rgba(255, 255, 255, 0.05),
    inset 1px 1px 1px rgba(0, 0, 0, 0.1);
}

/* div:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 75px;
  height: 38px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
} */

.estaLetra{
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
    inset 4px 4px 6px rgba(0, 0, 0, 0.2);
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 1.5s linear infinite;
  font-size: 2em; 
  margin-bottom: 100px;
  margin-right: 20px;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
    h1 {
      font-size: 5rem;
    }
  
    }